# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# PyInstaller
build/
dist/
*.spec
.gitignore

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# VS Code settings
.vscode/

# Script files
*.sh
*.bat