# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.exe

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
.env
.env/

# PyInstaller
build/
dist/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log
debug.log

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# VS Code settings
.vscode/

# Script files
*.sh
*.bat
.gitignore